/*somente para treinamento do NavBar*/
.navBardemoBasicUsage md-content .ext-content {
    padding: 50px;
    margin: 20px;
    background-color: #FFF2E0; }
/*FIM do CSS para treinamento do NavBar*/


body{
    background: #FFF;
}

div{
    align-content: center;
    text-align: center;
}

h1{
    font-size: 50px;
    color: black;
    text-align: center;

}

p{
    font-size: 25px;
    color: blue;
    text-align: center;
}

input{
    margin-left: auto;
    margin-right: auto; 
}

input.center{
    margin: 0 auto;
}

table{
    color: blue;
    font-size: 20px;
    text-align: center;
    align-content: center;
}

table.center{
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

button{
    text-align: center;
}

button.center{
    margin-left: auto;
    margin-right: auto;
}

button.left{
    margin-left: 0%;
    margin-right: auto;
}

button.right{
    margin-right: 0%;
    margin-left: auto;
}

span{
    color: blue;
}

a.left{
    margin-left: 0%;
    margin-right: auto;
    text-align: left;
    align-content: left;

}

a:visited{
    color: green;
}

a:hover{
    color: purple;
}

a:active{
    background-color: #fff;
}

li{
    color: blue;
}